<a href="https://colab.research.google.com/github/mendoncalan/intellipaat/blob/new_version/Modul1_assignements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1

Input the values of a and b as 10 and 20 respectively. Now check if a is
greater or b is greater using if condition. Think about all the edge cases,
and print the statements accordingly.

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

if a >b :
  print("a is greater than b")
elif a < b :
  print("b is greater than a")
else:
  print("Both are equal")

Enter the value of a: 10
Enter the value of b: 10
Both are equal

Take three user inputs and print the greatest number from those inputs
using if-else condition. Edge cases, if any, should also

In [ ]:
from logging import exception
try:
  a = int(input("Enter the value of a: "))
  b =int (input("Enter the value of b: "))
  c = int(input("Enter the value of c: "))

  if a>b and a>c:
    print("A is greater than B and C")
  elif a==b and a>c:
    print("A is equal to B and greater than C")
  elif(a==c and a>b):
    print("A is equal to C and greater than B")
  elif(b==c and b>a):
    print("B is equal to C and greater than A")
  elif a==b and a<c:
    print("A is equal to B and less than C")
  elif a==c and a<b:
    print("A is equal to C and less than B" )
  elif b>a and b>c:
    print("B is greater than A and C")
  elif c>a and c>b:
    print("C is greater than B and A")
  else:
    print("All are equal")
except ValueError:
    print("Invalid input! Please enter numeric values only.")

Enter the value of a: df
Invalid input! Please enter numeric values only.

Print the numbers from 1 to 10 using while loop.

In [ ]:
i =1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

Create a list that has 10, 23, 4, 26, 4, 75, 24, 54 values and with the help
of while loop fetch the even numbers and print the number

In [ ]:
ls = [10, 23, 4, 26, 4, 75, 24, 54 ]
i=0
while i<len(ls):
  if ls[i]%2==0:
    print(ls[i])
  i+=1

10
4
26
4
24
54

Create an array that has user defined inputs and with the help of for loop,
fetch all the prime numbers and print the numbers.

In [ ]:
ls =[]
while True:
  var = input("Do you want to enter the element in the list y")
  if var =='y':
    ls.append( int(input("Enter number ")))

  else:
    break
print(ls)

for i in range(0,len(ls)-1):
  for j in range(2,ls[i]):
    prime =False
    if ls[i]%j==0:
      break
    else:
      prime =True
  if prime:
    print(ls[i])

Do you want to enter the element in the list yy
Enter number 23
Do you want to enter the element in the list yy
Enter number 35
Do you want to enter the element in the list yy
Enter number 21
Do you want to enter the element in the list yy
Enter number 13
Do you want to enter the element in the list yy
Enter number 47
Do you want to enter the element in the list yy
Enter number 5
Do you want to enter the element in the list yy
Enter number 3
Do you want to enter the element in the list yy
Enter number 67
Do you want to enter the element in the list yy
Enter number 5457
Do you want to enter the element in the list yy
Enter number 67567
Do you want to enter the element in the list yy
Enter number 567
Do you want to enter the element in the list yn
[23, 35, 21, 13, 47, 5, 3, 67, 5457, 67567, 567]
23
13
47
5
3
67
67567

Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.

Create a list containing squares of numbers from 1 to 10 (HINT: use List
Comprehension).

In [ ]:
ls= []
for i in range(1,11):
  ls.append(i*i)
print(ls)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
ls = [i*i for i in range(1,11)]
print(ls)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Write a function to check if the year number is a leap year

In [4]:
year =int(input("Enter the year"))
def leap_year(year):
  if (year%4==0 and year%100!=0) or year %400==0:
    print(f"{year} is a leap year")
  else:
    print(f"{year} is not a leap year")
leap_year(year)

Enter the year1700
1700 is not a leap year

Write a function to take an array and return another array that contains the
members of the first array that are even

In [6]:
def create_arrray():
  ls =[]
  even_ls=[]
  while True:
    var = input("Do you want to enter the element in the list y")
    if var =='y':
      number= int(input("Enter number "))
      ls.append( number)
      if number%2==0:
        even_ls.append(number)
    else:
      break
  print(ls)
  return even_ls
print(create_arrray())

Do you want to enter the element in the list yy
Enter number 24
Do you want to enter the element in the list yy
Enter number 13
Do you want to enter the element in the list y21
[24, 13]
[24]

Write a function that takes 2 arrays and prints the members of the first
array that are present in the second array. Hint: use Membership comprehension

In [11]:

def array_existing(ls1 , ls2):
  common_element=[]
  for i in ls1:
    if i in ls2:
      common_element.append(i)
  return common_element
def array_existing_comprehesion(ls1 , ls2):
  common_element= [i for i in ls1 if i in ls2]
  return common_element

ls1 =[23,12,24,1123,45,32,46]
ls2 =[12,32,45, 56]

print(array_existing(ls1,ls2))
print(array_existing_comprehesion(ls1,ls2))

[12, 45, 32]
[12, 45, 32]

Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.
Tasks To Be Performed:

Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
50, 60):

1.   Concatenate the two tuples and store it in “t_combine”
2.   Repeat the elements of “t_combine” 3 times
3.  Access the 3rd element from “t_combine”
4.  Access the first three elements from “t_combine
5.  Access the last three elements from “t_combine”

In [13]:
#Concatenate the two tuples and store it in “t_combine”
tup1 =(10,20,30)
tup2 =(40,50,60)
t_combine = tup1+tup2
print(t_combine)
#Repeat the elements of “t_combine” 3 times
print(t_combine*3)
#Access the 3rd element from “t_combine”
print(t_combine[2])
#Access the first three elements from “t_combine
print(t_combine[0:3])
#Access the last three elements from “t_combine”
print(t_combine[-3:])

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)

Create a list ‘my_list’ with these elements:
1. First element is a tuple with values 1, 2, 3
2. Second element is a tuple with values “a”, “b”, “c”
3. Third element is a tuple with values True, False

In [16]:
my_list = [(1,2,3),("a","b","c"),(True,False)]
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

1. Append a new tuple – (1, ‘a’, True) to ‘my_list’:
2. Append a new list – *“sparta”, 123+ to my_list

In [19]:
my_list.append( (1, 'a', True) )
print(my_list)
my_list.append(["sparta",123])
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), (1, 'a', True), (1, 'a', True)]
[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), (1, 'a', True), (1, 'a', True), ['sparta', 123]]

Create a dictionary ‘fruit’ where:
1. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)
2. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
3. Extract all the keys from ‘fruit’
4. Extract all the values from ‘fruit’

In [21]:
fruit ={"Apple":85, "Banana":54, "Mango":120, "Guava":70}
print(fruit)
print(fruit.keys())
print(fruit.values())
print()

{'Apple': 85, 'Banana': 54, 'Mango': 120, 'Guava': 70}
dict_keys(['Apple', 'Banana', 'Mango', 'Guava'])
dict_values([85, 54, 120, 70])
85

Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
print the result.

In [22]:
my_set={1, 1, 'a', 'a', True, True}

In [23]:
print(my_set)

{1, 'a'}