<a href="https://colab.research.google.com/github/mendoncalan/intellipaat/blob/new_version/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python was invented in the year 1991 by Guidp van Roosum


1.   python is a beginner friendly language
2.   Large Libray domain
3. python is high level language
4. python is interpretor base language
5. python is a case sensitive language
6. python is one of the most widely used language and one of the most versatile language

In [ ]:
print("Hello world")

Hello world

Variable are like container in python that hold the values
Set of rules to declare variable in pyton


*   Variable should not start with number
*   Variable can start with _, alphabet and letter
*   variable should not have white spaces
*   we cant use a reserved key work of python

In [ ]:
x= 9
print(9)
# comment in python are like note

9

Data Type in python

In [ ]:
#Integer Data Type in Python
my_mark =90
print(my_mark)
#type is a function in python let you know that your variable stores the value of which Data TYpe
print(type(my_mark))

90
<class 'int'>

In [ ]:
#Float datatype: Something which is written in decimal form is float operator
my_mark =98.5
print(my_mark)
print(type(my_mark))

98.5
<class 'float'>

In [ ]:
# string datatype in python : Whenever something is been stored inside under '' and "" then python consider them as string
my_name ='Alan'
my_mark ="99"
print(my_name)
print(my_mark)
print(type(my_name))
print(type(my_mark))

Alan
99
<class 'str'>
<class 'str'>

In [ ]:
#boolean : it will store the True and false value. come into the picture whenever your output is in form of True or False
5>6
x=10
y =9
print(x<y)

False
False

NoneType

In [ ]:
# reat a school data where you store the mark of the student name , marks and percentile in for Decimal
# if the student scores above 80 return as True else false

name ="Alan"
mark= 950
percentile= mark/1000 *100
score = percentile> 80
print(score)

True

Type casting in python mean chaning from one data type to another data Type
why we need typecasting?
Because python treats differnet types differently

In [ ]:
# convernting string to int
string= '25'
int(string)

25

In [ ]:
# implicit typeacting : when python does it by it own
a=5
b=2.5
c= a+b
print(c)
print(type(c))

7.5
<class 'float'>

In [ ]:
# Explicit type casting : When the user does the typecasting that is explicit
a='25'
print(type(a))
b=int(a)
print(type(b))

<class 'str'>
<class 'int'>

Concatenation in Python: mean Join 2 or more things together

In [ ]:
# String Concatenation
str1 = "Hello"
str2 ="Students"
print(str1 + " " + str2)

Hello Students

In [ ]:
# Dont not using the + operator when you are concatenating string and integer data type
name = "Alan"
Age =35
print(name+Age)# this will give TypeError

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(name,"\n",Age )

Alan
 35

In [ ]:
# this a way to write mutiline string in python
text =""" this is line 1
this is line 2
this is line 3 """
print(text)

 this is line 1
this is line 2
this is line 3

In [ ]:
# Take user input for name age marks
# convert ag to integer and mark to float
# pirnt to out put like below
# Hello (name ), you are (Age) year old
# your marks are (marks)
# Next year you will be (age) year old
name = input("Enter your Name")
marks = float(input("Enter your Marks"))
age = int(input("Enter your Age"))
print("Hello",name,"\nNext year you will be ",age+1,"year old\nYour Mark ",marks)

Enter your NameAlan
Enter your Marks76.7
Enter your Age24
Hello Alan
Next year you will be  25 year old
Your Mark  76.7