<a href="https://colab.research.google.com/github/mendoncalan/intellipaat/blob/new_version/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python was invented in the year 1991 by Guidp van Roosum


1.   python is a beginner friendly language
2.   Large Libray domain
3. python is high level language
4. python is interpretor base language
5. python is a case sensitive language
6. python is one of the most widely used language and one of the most versatile language

In [ ]:
print("Hello world")

Hello world

Variable are like container in python that hold the values
Set of rules to declare variable in pyton


*   Variable should not start with number
*   Variable can start with _, alphabet and letter
*   variable should not have white spaces
*   we cant use a reserved key work of python

In [ ]:
x= 9
print(9)
# comment in python are like note

9

Data Type in python

In [ ]:
#Integer Data Type in Python
my_mark =90
print(my_mark)
#type is a function in python let you know that your variable stores the value of which Data TYpe
print(type(my_mark))

90
<class 'int'>

In [ ]:
#Float datatype: Something which is written in decimal form is float operator
my_mark =98.5
print(my_mark)
print(type(my_mark))

98.5
<class 'float'>

In [ ]:
# string datatype in python : Whenever something is been stored inside under '' and "" then python consider them as string
my_name ='Alan'
my_mark ="99"
print(my_name)
print(my_mark)
print(type(my_name))
print(type(my_mark))

Alan
99
<class 'str'>
<class 'str'>

In [ ]:
#boolean : it will store the True and false value. come into the picture whenever your output is in form of True or False
5>6
x=10
y =9
print(x<y)

False
False

NoneType

In [ ]:
# reat a school data where you store the mark of the student name , marks and percentile in for Decimal
# if the student scores above 80 return as True else false

name ="Alan"
mark= 950
percentile= mark/1000 *100
score = percentile> 80
print(score)

True

Type casting in python mean chaning from one data type to another data Type
why we need typecasting?
Because python treats differnet types differently

In [ ]:
# convernting string to int
string= '25'
int(string)

25

In [ ]:
# implicit typeacting : when python does it by it own
a=5
b=2.5
c= a+b
print(c)
print(type(c))

7.5
<class 'float'>

In [ ]:
# Explicit type casting : When the user does the typecasting that is explicit
a='25'
print(type(a))
b=int(a)
print(type(b))

<class 'str'>
<class 'int'>

Concatenation in Python: mean Join 2 or more things together

In [ ]:
# String Concatenation
str1 = "Hello"
str2 ="Students"
print(str1 + " " + str2)

Hello Students

In [ ]:
# Dont not using the + operator when you are concatenating string and integer data type
name = "Alan"
Age =35
print(name+Age)# this will give TypeError

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(name,"\n",Age )

Alan
 35

In [ ]:
# this a way to write mutiline string in python
text =""" this is line 1
this is line 2
this is line 3 """
print(text)

 this is line 1
this is line 2
this is line 3

In [ ]:
# Take user input for name age marks
# convert ag to integer and mark to float
# pirnt to out put like below
# Hello (name ), you are (Age) year old
# your marks are (marks)
# Next year you will be (age) year old
name = input("Enter your Name")
marks = float(input("Enter your Marks"))
age = int(input("Enter your Age"))
print("Hello",name,"\nNext year you will be ",age+1,"year old\nYour Mark ",marks)

Enter your NameAlan
Enter your Marks76.7
Enter your Age24
Hello Alan
Next year you will be  25 year old
Your Mark  76.7

Operators in python
Special symbol that help you perform operation on values(operands)
1.  Arithmatic operator : +/*-%
2.  Exponential Operator
3.  comparison operator
4.  logical Operator
5.  Assignment operator

**Arithmatic operator**:Used for mathematical calculations.
| Operator | Meaning             | Example  | Result |
| -------- | ------------------- | -------- | ------ |
| `+`      | Addition            | `5 + 3`  | `8`    |
| `-`      | Subtraction         | `5 - 3`  | `2`    |
| `*`      | Multiplication      | `5 * 3`  | `15`   |
| `/`      | Division            | `5 / 2`  | `2.5`  |
| `//`     | Floor Division      | `5 // 2` | `2`    |
| `%`      | Modulus (remainder) | `5 % 2`  | `1`    |
| `**`     | Power               | `2 ** 3` | `8`    |


**Comparison Operators**:Used to compare values. Result is True or False.

| Operator | Meaning |
| -------- | ------------------- |
|==	| Equal to|
|!=	|  Not equal to|
|>	|    Greater than|
|<	|Less than|
|>=	|Greater than or equal|
|<=	|Less than or equal|

**Logical Operators**:Used to combine conditions.
| Operator | Meaning |
| -------- | ------------------- |
|and|	True if both conditions are True|
|or|	True if at least one is True|
|not|	Reverses the result|


**Bitwise Operators**:Used for binary operations (advanced).
| Operator | Meaning |
| -------- | ------------------- |
|&|	AND|
|`|	`|
|^|	XOR|
|~|	NOT|
|<<|	Left shift|
|>>|	Right shift|

**Assignment Operators**: Used to assign values to variables.

| Operator | Example  | Same As     |
| -------- | -------- | ----------- |
| `=`      | `x = 5`  | Assign 5    |
| `+=`     | `x += 3` | `x = x + 3` |
| `-=`     | `x -= 3` | `x = x - 3` |
| `*=`     | `x *= 2` | `x = x * 2` |
| `/=`     | `x /= 2` | `x = x / 2` |


**Membership Operators** : Used to test if value exists in a sequence.


| Operator | Meaning              |
| -------- | -------------------- |
| `in`     | Value exists         |
| `not in` | Value does not exist |

**Identity Operators**:Check if two variables refer to same object in memory.
| Operator | Meaning         |
| -------- | --------------- |
| `is`     | Same object     |
| `is not` | Not same object |

In [ ]:
#Arithmetic Operators
a = 10
b = 3
print(a + b)
print(a // b)
print(a ** b)

13
3
1000

In [ ]:
#Comparison Operators
x = 5
print(x > 3)   # True
print(x == 10) # False

True
False

In [ ]:
#Logical Operators
age = 20
print(age > 18 and age < 30)  # True
print(not(age > 18))          # False

True
False

In [ ]:
#Assignment Operators
x = 10
x += 5
print(x)  # 15

15

In [ ]:
#Bitwise Operators
a = 5  # 101
b = 3  # 011
print(a & b)  # 1

1

In [ ]:
#Membership Operators
nums = [1, 2, 3]
print(2 in nums)      # True
print(5 not in nums)  # True

True
True

In [ ]:
#Identity Operators
a = [1,2]
b = a
print(a is b)  # True

True

In [ ]:
# Write a  program that take 2 integers and prints wheter the first is greater small or equal to scond using comparison operator

a =int(input("Enter the first number"))
b =int(input("Enter the second number"))
print ("First Number is greater ",a>b)
print("SEcondNumber is Greater ", a<b)
print ("Both are equal",a==b)

Enter the first number10
Enter the second number20
First Number is greater  False
SEcondNumber is Greater  True
Both are equal False

Assigning Multiple variable

In [ ]:
a =b=c = 10 # if we want to assign same value to multiple variable

In [ ]:
x,y,z = 30,40, 50 # this the way to assign multiple value to different variable

What is a python Token?
In Python, a token is the smallest individual unit of a program that has meaning to the interpreter. You can think of tokens as the "words" and "punctuation" that make up the "sentences" of your code


Token Type,Description,Examples
Keywords,"Reserved words with a fixed, predefined meaning.","if, while, def, return, True"
Identifiers,"Names you give to variables, functions, or classes.","my_var, calculate_sum, User"
Literals,Fixed data values (raw data).,"42, 3.14, ""Hello"", None"
Operators,Symbols used for computations or logic.,"+, -, *, /, ==, and"
Delimiters,Symbols used for grouping and syntax structure.,"( ), [ ], { }, :, ,, ="

**For Loop**

Write a for loop to print the squar of all the number from 1 to 5

In [ ]:
for i in range (1,6):
  print(i*i)
  print(i**2)

1
1
4
4
9
9
16
16
25
25

In [ ]:
# Print even number from 2 to 20 using loops

for i in range(2,20):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
# for moving the loop by 2 Steps
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [ ]:
names = ["Alan", "John", "Mary"]

for index, value in enumerate(names):
    print(index, value)

**While loop in Python :**
When we dont know that number but we know the condition

In [ ]:
i= 1
while i<5:
  print(i)
  i+=1

1
2
3
4

reverse a number

In [ ]:
num =1234
rev =0
while num>0:
  digit = num%10

  rev =rev*10 + digit
  num = num//10
print(rev)

4321

Sequential and Non Sequential data type

# Sequential data type in python

1.   can stroe multipe values
2.   Looping Multiple Lists → zip()

In [ ]:
my_list =['Alan', 1,2,3,True]
print(my_list)
print(type(my_list))

['Alan', 1, 2, 3, True]
<class 'list'>

In [ ]:
my_list[1]
my_list[2]=['XYZ',1]
print(my_list)

['Alan', 1, ['XYZ', 1], 3, True]

In [ ]:
#append : adds the values at the end of the list
my_list.append("Aman")
print(my_list)

['Alan', 1, ['XYZ', 1], 3, True, 'Aman', 'Aman']

In [ ]:
# insert: inseert the value at the given index
my_list.insert(12,"Alan")
print(my_list)
#Pop: helps to delete the data from you list. if you dont define the index in pop by default it will delete from the end of list
my_list.pop()

['Alan', 1, ['XYZ', 1], 3, True, 'Aman', 'Aman', 'Alan', 'Alan', 'Alan', 'Alan', 'Alan']

'Alan'

['Alan', 1, ['XYZ', 1], 3, True, 'Aman', 'Aman', 'Alan']

In [ ]:
# Tuple are ordered collection of data which cant be change. There are immutable
my_tuple =("Kaushik", 1,2, 19.6, True)
print(my_tuple)
print(type(my_tuple))
#

('Kaushik', 1, 2, 19.6, True)
<class 'tuple'>

In [ ]:
#String

**Non Sequential Data Type**

unordered collection where elements cant be accessed using indexing.There is no index
Different type Non Sequential Data Type in Python
Set and Dictionary
#Set: Unordered

In [7]:
s1 = {'payal','Aman', True, 34.67}
print(type(s1))
# adding element in Set. it will add element any where in the set
s1.add('Alan')
print(s1)
# Remove basically remvoes a specific element by value from the set. if the value is not present remove will give us an error.
s1.remove(34.67)
print(s1)
# difference between discard and remove
# discard: it removed the specific element from the set and if it is not available it doesnt give any error.
s1.discard(34.67)
print(s1)

#Membership Test
numbers = {1, 2, 3}

print(2 in numbers)   # True

#Set with Mixed Data
#Tuple allowed
#List not allowed
my_set = {1, "a", (2, 3)}
print(my_set)
# my_set = {[1,2]}# error TypeError: unhashable type: 'list'

my_set = {1, True, 0, False}
print(my_set)#{1, 0}


#Frozen Set (Advanced):If you want an immutable set:
fs = frozenset([1, 2, 3])

#Set Comprehension
#synatx
 #{expression for item in iterable}"
#{expression for item in iterable if condition}

squares = {x*x for x in range(5)}
print(squares)

#Remove Duplicates Automatically
numbers = [1, 2, 2, 3, 3, 4]

unique_squares = {x*x for x in numbers}
print(unique_squares)

#With Condition
evens = {x for x in range(10) if x % 2 == 0}
print(evens)

#Convert Strings to Uppercase
words = ["apple", "banana", "apple"]

upper_words = {word.upper() for word in words}
print(upper_words)

#Extract Unique Characters from String
text = "programming"

unique_chars = {char for char in text}
print(unique_chars)

#Nested Loop in Set Comprehension
pairs = {(x, y) for x in range(3) for y in range(2)}
print(pairs)

<class 'set'>
{True, 34.67, 'payal', 'Aman', 'Alan'}
{True, 'payal', 'Aman', 'Alan'}
{True, 'payal', 'Aman', 'Alan'}
True
{(2, 3), 1, 'a'}
{0, 1}
{0, 1, 4, 9, 16}
{16, 1, 4, 9}
{0, 2, 4, 6, 8}
{'APPLE', 'BANANA'}
{'m', 'o', 'a', 'p', 'n', 'i', 'g', 'r'}
{(0, 1), (2, 1), (0, 0), (1, 1), (2, 0), (1, 0)}

Union, interset

In [2]:
s2= {2,1,3}
s3 = {3,4,5}
print(s2.union(s3))
print(s2|s3) #Union
print(s2.intersection(s3))
print(s2 &s3)#intersections
print(s2.difference(s3))
print(s2-s3) #difference
print(s3.difference(s2))
#Symnetric Difference
print(s2.symmetric_difference(s3))
print(s2^s3) # Symmetric difference

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{4, 5}
{1, 2, 4, 5}

#Dictionary:


1.   it is unordered collection of data here the data is stored into the form of key value pair
2.   each key is unique and used to access associated values

In [ ]:
dict1 ={"Name":"Abc",
       "Course":"python",
       'mark':78}
print(type(dict1))
print(dict1)
print(dict1.keys()) # gives the values for keys
print(dict1.values()) # give all the values from dict1
print(dict1.items()) # gives the key value pair
dict1.update({"Age":38})-# it helps to add key value pairs into dictionary
print(dict1)

<class 'dict'>
{'Name': 'Abc', 'Course': 'python', 'mark': 78}
dict_keys(['Name', 'Course', 'mark'])
dict_values(['Abc', 'python', 78])
dict_items([('Name', 'Abc'), ('Course', 'python'), ('mark', 78)])
{'Name': 'Abc', 'Course': 'python', 'mark': 78, 'Age': 38}

In [ ]:
a =[1,2,3,4]
b=a #1,2,3,4
b.append(4)#1,2,3,4,4
print(a)
print(b)

[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4]

In [ ]:
# create a tuple of 3 float number
t =(12.34, 34.5, 45.2)
l1 =list(t)
l2=l1.copy()
l2[1]=123.4
print(l1)
print(l2)

[12.34, 34.5, 45.2]
[12.34, 123.4, 45.2]

In [4]:
#Simple Dictionary Example
person = {
    "name": "Alan",
    "age": 35,
    "city": "Mumbai"
}

print(person["name"])
#Adding & Updating Values
person["occupation"] = "Engineer"
person["age"] = 36
print(person)

#Looping Through Dictionary
  #Loop through keys
for key in person:
    print(key)

  #Loop through values
for value in person.values():
    print(value)
  #Loop through key-value pairs
for key, value in person.items():
    print(key, ":", value)

Alan
{'name': 'Alan', 'age': 36, 'city': 'Mumbai', 'occupation': 'Engineer'}
name
age
city
occupation
Alan
36
Mumbai
Engineer
name : Alan
age : 36
city : Mumbai
occupation : Engineer

In [ ]:
#Nested Dictionary
students = {
    "s1": {"name": "Alan", "marks": 85},
    "s2": {"name": "John", "marks": 90}
}

print(students["s1"]["marks"])
#Dictionary Inside List
employees = [
    {"id": 1, "name": "Alan"},
    {"id": 2, "name": "John"}
]

print(employees[0]["name"])

In [5]:
#Counting Frequency
text = "apple banana apple mango banana apple"

words = text.split()
count = {}

for word in words:
    count[word] = count.get(word, 0) + 1

print(count)

{'apple': 3, 'banana': 2, 'mango': 1}

In [ ]:
#Using Dictionary Comprehension
numbers = [1, 2, 3, 4]

square_dict = {x: x*x for x in numbers}
print(square_dict)

#Merge Two Dictionaries
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
#The ** operator is called dictionary unpacking.it will convert {"a": 1, "b": 2} to "a": 1, "b": 2
merged = {**d1, **d2}
print(merged)
#Check If Key Exists
if "name" in person:
    print("Key exists")


#Sorting Dictionary by Key
data = {"b": 2, "a": 1, "c": 3}

sorted_dict = dict(sorted(data.items()))
print(sorted_dict)

#Sorting by Value
sorted_by_value = dict(sorted(data.items(), key=lambda x: x[1]))
print(sorted_by_value)
#key=lambda x: x[1]
#This means:
#Take each tuple (key, value)
#Sort based on index 1 → the value

**String**

> A sequence of characters enclosed in quotes.
Important Properties


1.  Ordered
2.  Immutable (cannot modify directly)
3.  Indexed
4.  Iterable
5.  Allows duplicates

In [13]:
#Indexing
text = "Python"

print(text[0])   # P
print(text[-1])  # n

#Slicing
text = "Python"

print(text[0:4])   # Pyth
print(text[:3])    # Pyt
print(text[3:])    # hon
print(text[::-1])  # nohtyP (reverse)

#Case Conversion Functions
text = "python"

print(text.upper())      # PYTHON
print(text.lower())      # python
print(text.capitalize()) # Python
print(text.title())      # Python
print(text.swapcase())   # PYTHON

#Search & Find Functions

text = "hello world"

print(text.find("world"))   # 6
print(text.index("world"))  # 6
print(text.count("l"))      # 3

#Difference:
#find() → returns -1 if not found
#index() → raises error if not found

#Check Functions

text = "Python123"

print(text.isalpha())   # False
print(text.isdigit())   # False
print(text.isalnum())   # True
print(text.islower())   # False
print(text.isupper())   # False
print(text.isspace())   # False

#Replace Function
text = "I love Java"

new_text = text.replace("Java", "Python")
print(new_text)
#Strings are immutable → new string created.


#Split & Join
text = "apple,banana,mango"

print(text.split(","))  #['apple', 'banana', 'mango']

#Join
words = ["apple", "banana", "mango"]

result = ",".join(words)
print(result) #apple,banana,mango

#Strip Functions
text = "   hello   "

print(text.strip())     # remove both sides
print(text.lstrip())    # left only
print(text.rstrip())    # right only


#Startswith & Endswith
filename = "error.log"

print(filename.startswith("error"))  # True
print(filename.endswith(".log"))     # True

#Formatting Strings
#old way
name = "Alan"
print("Hello {}".format(name))
#New way
name = "Alan"
print(f"Hello {name}")

#String Immutability
text = "hello"
#text[0] = "H"   #  Error
# right way to change the first
text = "H" + text[1:]


#String Concatenation
a = "Hello"
b = "World"

print(a + " " + b)

#Membership Check
text = "python"

print("py" in text)   # True

#Iterating Over String
for char in "Python":
    print(char)


#Reverse words in a sentence:
text = "I love Python"

words = text.split()
reversed_sentence = " ".join(words[::-1])

print(reversed_sentence)

#print every 2nd lette
even_text= text[::2]
print(even_text)

# Remove *** from string
text ="****hello****"
print(text.strip('*'))
print()

P
n
Pyth
Pyt
hon
nohtyP
PYTHON
python
Python
Python
PYTHON
6
6
3
False
False
True
False
False
False
I love Python
['apple', 'banana', 'mango']
apple,banana,mango
hello
hello
   hello
True
True
Hello Alan
Hello Alan
Hello World
True
P
y
t
h
o
n
Python love I
Ilv yhn
hello