<a href="https://colab.research.google.com/github/mendoncalan/intellipaat/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python was invented in the year 1991 by Guidp van Roosum


1.   python is a beginner friendly language
2.   Large Libray domain
3. python is high level language
4. python is interpretor base language
5. python is a case sensitive language
6. python is one of the most widely used language and one of the most versatile language

In [1]:
print("Hello world")

Hello world

Variable are like container in python that hold the values
Set of rules to declare variable in pyton


*   Variable should not start with number
*   Variable can start with _, alphabet and letter
*   variable should not have white spaces
*   we cant use a reserved key work of python

In [2]:
x= 9
print(9)
# comment in python are like note

9

Data Type in python

In [3]:
#Integer Data Type in Python
my_mark =90
print(my_mark)
#type is a function in python let you know that your variable stores the value of which Data TYpe
print(type(my_mark))

90
<class 'int'>

In [4]:
#Float datatype: Something which is written in decimal form is float operator
my_mark =98.5
print(my_mark)
print(type(my_mark))

98.5
<class 'float'>

In [6]:
# string datatype in python : Whenever something is been stored inside under '' and "" then python consider them as string
my_name ='Alan'
my_mark ="99"
print(my_name)
print(my_mark)
print(type(my_name))
print(type(my_mark))

Alan
99
<class 'str'>
<class 'str'>

In [9]:
#boolean : it will store the True and false value. come into the picture whenever your output is in form of True or False
5>6
x=10
y =9
print(x<y)

False
False

NoneType

In [17]:
# reat a school data where you store the mark of the student name , marks and percentile in for Decimal
# if the student scores above 80 return as True else false

name ="Alan"
mark= 950
percentile= mark/1000 *100
score = percentile> 80
print(score)

True