<a href="https://colab.research.google.com/github/mendoncalan/intellipaat/blob/new_version/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python was invented in the year 1991 by Guidp van Roosum


1.   python is a beginner friendly language
2.   Large Libray domain
3. python is high level language
4. python is interpretor base language
5. python is a case sensitive language
6. python is one of the most widely used language and one of the most versatile language

In [ ]:
print("Hello world")

Hello world

Variable are like container in python that hold the values
Set of rules to declare variable in pyton


*   Variable should not start with number
*   Variable can start with _, alphabet and letter
*   variable should not have white spaces
*   we cant use a reserved key work of python

In [ ]:
x= 9
print(9)
# comment in python are like note

9

Data Type in python

In [ ]:
#Integer Data Type in Python
my_mark =90
print(my_mark)
#type is a function in python let you know that your variable stores the value of which Data TYpe
print(type(my_mark))

90
<class 'int'>

In [ ]:
#Float datatype: Something which is written in decimal form is float operator
my_mark =98.5
print(my_mark)
print(type(my_mark))

98.5
<class 'float'>

In [ ]:
# string datatype in python : Whenever something is been stored inside under '' and "" then python consider them as string
my_name ='Alan'
my_mark ="99"
print(my_name)
print(my_mark)
print(type(my_name))
print(type(my_mark))

Alan
99
<class 'str'>
<class 'str'>

In [ ]:
#boolean : it will store the True and false value. come into the picture whenever your output is in form of True or False
5>6
x=10
y =9
print(x<y)

False
False

NoneType

In [ ]:
# reat a school data where you store the mark of the student name , marks and percentile in for Decimal
# if the student scores above 80 return as True else false

name ="Alan"
mark= 950
percentile= mark/1000 *100
score = percentile> 80
print(score)

True

Type casting in python mean chaning from one data type to another data Type
why we need typecasting?
Because python treats differnet types differently

In [ ]:
# convernting string to int
string= '25'
int(string)

25

In [ ]:
# implicit typeacting : when python does it by it own
a=5
b=2.5
c= a+b
print(c)
print(type(c))

7.5
<class 'float'>

In [ ]:
# Explicit type casting : When the user does the typecasting that is explicit
a='25'
print(type(a))
b=int(a)
print(type(b))

<class 'str'>
<class 'int'>

Concatenation in Python: mean Join 2 or more things together

In [ ]:
# String Concatenation
str1 = "Hello"
str2 ="Students"
print(str1 + " " + str2)

Hello Students

In [ ]:
# Dont not using the + operator when you are concatenating string and integer data type
name = "Alan"
Age =35
print(name+Age)# this will give TypeError

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(name,"\n",Age )

Alan
 35

In [ ]:
# this a way to write mutiline string in python
text =""" this is line 1
this is line 2
this is line 3 """
print(text)

 this is line 1
this is line 2
this is line 3

In [ ]:
# Take user input for name age marks
# convert ag to integer and mark to float
# pirnt to out put like below
# Hello (name ), you are (Age) year old
# your marks are (marks)
# Next year you will be (age) year old
name = input("Enter your Name")
marks = float(input("Enter your Marks"))
age = int(input("Enter your Age"))
print("Hello",name,"\nNext year you will be ",age+1,"year old\nYour Mark ",marks)

Enter your NameAlan
Enter your Marks76.7
Enter your Age24
Hello Alan
Next year you will be  25 year old
Your Mark  76.7

Operators in python
Special symbol that help you perform operation on values(operands)
1.  Arithmatic operator : +/*-%
2.  Exponential Operator
3.  comparison operator
4.  logical Operator
5.  Assignment operator

**Arithmatic operator**:Used for mathematical calculations.
| Operator | Meaning             | Example  | Result |
| -------- | ------------------- | -------- | ------ |
| `+`      | Addition            | `5 + 3`  | `8`    |
| `-`      | Subtraction         | `5 - 3`  | `2`    |
| `*`      | Multiplication      | `5 * 3`  | `15`   |
| `/`      | Division            | `5 / 2`  | `2.5`  |
| `//`     | Floor Division      | `5 // 2` | `2`    |
| `%`      | Modulus (remainder) | `5 % 2`  | `1`    |
| `**`     | Power               | `2 ** 3` | `8`    |


**Comparison Operators**:Used to compare values. Result is True or False.

| Operator | Meaning |
| -------- | ------------------- |
|==	| Equal to|
|!=	|  Not equal to|
|>	|    Greater than|
|<	|Less than|
|>=	|Greater than or equal|
|<=	|Less than or equal|

**Logical Operators**:Used to combine conditions.
| Operator | Meaning |
| -------- | ------------------- |
|and|	True if both conditions are True|
|or|	True if at least one is True|
|not|	Reverses the result|


**Bitwise Operators**:Used for binary operations (advanced).
| Operator | Meaning |
| -------- | ------------------- |
|&|	AND|
|`|	`|
|^|	XOR|
|~|	NOT|
|<<|	Left shift|
|>>|	Right shift|

**Assignment Operators**: Used to assign values to variables.

| Operator | Example  | Same As     |
| -------- | -------- | ----------- |
| `=`      | `x = 5`  | Assign 5    |
| `+=`     | `x += 3` | `x = x + 3` |
| `-=`     | `x -= 3` | `x = x - 3` |
| `*=`     | `x *= 2` | `x = x * 2` |
| `/=`     | `x /= 2` | `x = x / 2` |


**Membership Operators** : Used to test if value exists in a sequence.


| Operator | Meaning              |
| -------- | -------------------- |
| `in`     | Value exists         |
| `not in` | Value does not exist |

**Identity Operators**:Check if two variables refer to same object in memory.
| Operator | Meaning         |
| -------- | --------------- |
| `is`     | Same object     |
| `is not` | Not same object |

In [ ]:
#Arithmetic Operators
a = 10
b = 3
print(a + b)
print(a // b)
print(a ** b)

13
3
1000

In [ ]:
#Comparison Operators
x = 5
print(x > 3)   # True
print(x == 10) # False

True
False

In [ ]:
#Logical Operators
age = 20
print(age > 18 and age < 30)  # True
print(not(age > 18))          # False

True
False

In [ ]:
#Assignment Operators
x = 10
x += 5
print(x)  # 15

15

In [ ]:
#Bitwise Operators
a = 5  # 101
b = 3  # 011
print(a & b)  # 1

1

In [ ]:
#Membership Operators
nums = [1, 2, 3]
print(2 in nums)      # True
print(5 not in nums)  # True

True
True

In [ ]:
#Identity Operators
a = [1,2]
b = a
print(a is b)  # True

True

In [ ]:
# Write a  program that take 2 integers and prints wheter the first is greater small or equal to scond using comparison operator

a =int(input("Enter the first number"))
b =int(input("Enter the second number"))
print ("First Number is greater ",a>b)
print("SEcondNumber is Greater ", a<b)
print ("Both are equal",a==b)

Enter the first number10
Enter the second number20
First Number is greater  False
SEcondNumber is Greater  True
Both are equal False

**String indexing ** :A string is a sequence of characters (text).

Double quotes " "

Single quotes ' '

Triple quotes ''' ''' (multi-line)

**String Indexing** :Strings are ordered and indexed (starting at 0).

In [ ]:
#Indexing in python
#Index: position number of each letter
name ="Python"
#Python index always starts from 0
print(name[0])
print(name.index('P'))

P
0

In [ ]:
name ='pappu'
#Python index always returns the first occurence
print(name.index('p'))

0

In [ ]:
#Negative index in python starts from -1
#Python
# -6 -5 -4 -3 -2 -1
name = 'Python'
print(name[-1])

n

In [ ]:
# Take a string from user end
# Print first character
# print last character (using negative index )
# print middle character
# print index of the first occurence of a
# print seconed last character

String = input("Enter string ")
print("First charater ",String[0])
print("Last character ",String[-1])
print("Middle character ",String[len(String)//2]  )
print ("Index of the first occurence of  a ",String.index(('a')))
print ("Second last index of String ", String[-2] )

Enter string Elephant
First charater  E
Last character  t
Middle character  h
Index of the first occurence of  a  5
Second last index of String  n

**String Slicing**
  Syntax: string[start:end:step]